In [3]:
import pandas as pd

In [ ]:
# read california_housing_train csv file from colab
df = pd.read_csv("california_housing_train.csv")

# Q1

 Show the first 7 rows from the Data-Frame

In [5]:
# Q1 solution
output = df[:7]
output = df.head(7)
print(output)

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0
3    -114.57     33.64                14.0       1501.0           337.0
4    -114.57     33.57                20.0       1454.0           326.0
5    -114.58     33.63                29.0       1387.0           236.0
6    -114.58     33.61                25.0       2907.0           680.0

   population  households  median_income  median_house_value
0      1015.0       472.0         1.4936             66900.0
1      1129.0       463.0         1.8200             80100.0
2       333.0       117.0         1.6509             85700.0
3       515.0       226.0         3.1917             73400.0
4       624.0       262.0         1.9250             65500.0
5       671.0       239.0         3.3438             74000.0
6      1841.0       633.0         2.6768             82400.0

# Q2

Show the last 2 rows from the Data-Frame

In [6]:
# Q2 solution
output = df.tail(2)
output = df[-2:]
print(output)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

# Q3

Show the first 7 rows for total_rooms, total_bedrooms, and median_house_value from the Data-Frame

3.1- Use head() function


3.2 Use .loc() "location" function

In [12]:
# Q3 solution

# 3.1
output = df[["total_rooms" , "total_bedrooms" , "median_house_value"]].head(7)
print(output)
# 3.2
output = df.loc[:6 , ["total_rooms" , "total_bedrooms" , "median_house_value"]]
print(output)

   total_rooms  total_bedrooms  median_house_value
0       5612.0          1283.0             66900.0
1       7650.0          1901.0             80100.0
2        720.0           174.0             85700.0
3       1501.0           337.0             73400.0
4       1454.0           326.0             65500.0
5       1387.0           236.0             74000.0
6       2907.0           680.0             82400.0
   total_rooms  total_bedrooms  median_house_value
0       5612.0          1283.0             66900.0
1       7650.0          1901.0             80100.0
2        720.0           174.0             85700.0
3       1501.0           337.0             73400.0
4       1454.0           326.0             65500.0
5       1387.0           236.0             74000.0
6       2907.0           680.0             82400.0

# Q4

4.1- Describe Data-Frame for housing_median_age, and median_house_value attributs, create df_desc variable to hold the describe output

4.2- Select standard deviation, mean, Q3 from df_desc

4.3 print IQR for housing_median_age attribute

In [13]:
# Q4 solution
# 4.1 solution
df_desc = (df[["housing_median_age","median_house_value"]]).describe()
print(df_desc)

       housing_median_age  median_house_value
count        17000.000000        17000.000000
mean            28.589353       207300.912353
std             12.586937       115983.764387
min              1.000000        14999.000000
25%             18.000000       119400.000000
50%             29.000000       180400.000000
75%             37.000000       265000.000000
max             52.000000       500001.000000

In [16]:
# 4.2
output = df_desc.iloc[[1,2,6] , :]
print(output)

      housing_median_age  median_house_value
mean           28.589353       207300.912353
std            12.586937       115983.764387
75%            37.000000       265000.000000

In [27]:
# # 4.3
Q1 = df_desc.loc["25%" , "housing_median_age"]
Q3 = df_desc.loc["75%" , "housing_median_age"]

IQR =  Q3 - Q1

print(IQR)

19.0

# Q5

If you have the following described Data-Frame

5.1- Calulate IQR for all columns/ attributes

5.2- Create new Data-Frame with IQR in the last index


**Hint : Use Transpose method**

In [28]:
df_desc = df.describe()
df_desc

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

Output should be like this ðŸ˜º

In [139]:
# Q5.1
transpose_desc = df_desc.T
IQR = df_desc.loc["75%"] - df_desc.loc["25%"]
print(IQR)

longitude                  3.790000
latitude                   3.790000
housing_median_age        19.000000
total_rooms             1689.250000
total_bedrooms           351.250000
population               931.000000
households               323.250000
median_income              2.200625
median_house_value    145600.000000
IQR                             NaN
dtype: float64

In [151]:
#Q 5.2
transpose_desc["IQR"] = IQR
transpose_desc = transpose_desc.T
print(transpose_desc)

          longitude      latitude  housing_median_age   total_rooms  \
count  17000.000000  17000.000000        17000.000000  17000.000000
mean    -119.562108     35.625225           28.589353   2643.664412
std        2.005166      2.137340           12.586937   2179.947071
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.790000     33.930000           18.000000   1462.000000
50%     -118.490000     34.250000           29.000000   2127.000000
75%     -118.000000     37.720000           37.000000   3151.250000
max     -114.310000     41.950000           52.000000  37937.000000
IQR        3.790000      3.790000           19.000000   1689.250000

       total_bedrooms    population    households  median_income  \
count    17000.000000  17000.000000  17000.000000   17000.000000
mean       539.410824   1429.573941    501.221941       3.883578
std        421.499452   1147.852959    384.520841       1.908157
min          1.000000      3.000000      1.000000       0.499900
25%        297.000000    790.000000    282.000000       2.566375
50%        434.000000   1167.000000    409.000000       3.544600
75%        648.250000   1721.000000    605.250000       4.767000
max       6445.000000  35682.000000   6082.000000      15.000100
IQR        351.250000    931.000000    323.250000       2.200625

       median_house_value
count        17000.000000
mean        207300.912353
std         115983.764387
min          14999.000000
25%         119400.000000
50%         180400.000000
75%         265000.000000
max         500001.000000
IQR         145600.000000

# Q6

Slect the the following

6.1- Select the price of the five most expensive homes, column : "median_house_value"


6.2- Select the price of the cheapest five homes, column : "median_house_value"



6.3.1- Create a function where calculate correlation coefficient DONT USE any build-in finctions


6.3.2- Apply correlation coefficient function on total_rooms and median_house_value


6.3.3- Determine the relationship between them



6.4- Write you own query and apply it ðŸ˜† (I am a democrat ðŸ˜œ)

In [86]:
# Solution 6.1
most_expensive = df["median_house_value"].nlargest(5)
print(most_expensive)

215     500001.0
260     500001.0
862     500001.0
1388    500001.0
1404    500001.0
Name: median_house_value, dtype: float64

In [87]:
# Solution 6.2
cheapest = df["median_house_value"].nsmallest(5)
print(cheapest)

568      14999.0
3226     14999.0
16643    14999.0
16801    14999.0
7182     17500.0
Name: median_house_value, dtype: float64

**correlation coefficient**



*   The correlation coefficient is an equation that is used to determine

      the strength of the relation between two variables


*   The correlation coefficient always lies between -1 to +1
*    -1 represents X and Y are negatively correlated
*   +1 represents X and Y are positively correlated



---



---


r = n (âˆ‘xy) â€“ âˆ‘x âˆ‘y / âˆš [n* (âˆ‘x2 â€“ (âˆ‘x)2)] * [n* (âˆ‘y2 â€“ (âˆ‘y)2)]


*   r = correlation coefficient

*   n = number of observations

*   x = 1st variable in the context



*   y = 2nd variable




---

Absolute Value of r Strength of Relationship


r < 0.3  ==>  None or very weak


0.3 < r <0.5   ==>  Weak


0.5 < r < 0.7  ==>   Moderate


r > 0.7  ==>   Strong

In [109]:
# Solution 6.3

# 6.3.1
# corelation cooffecient method :
import math
def correlation_coefficient(x,y):
    n = len(x)
    sum_x = sum(x)
    sum_y = sum(y)
    sum_x_sqr = sum(x[i] * x[i] for i in range(n))
    sum_y_sqr = sum(y[i] * y[i] for i in range(n))
    sum_xy = sum(x[i] * y[i] for i in range(n))

    return (n*sum_xy - sum_x*sum_y)/math.sqrt((n * sum_x_sqr - sum_x ** 2) * (n * sum_y_sqr - sum_y ** 2))

# 6.3.2
# apply the corelation coofficient on total_rooms and median_house_value
x = list(df["total_rooms"])
y = list(df["median_house_value"])

r = correlation_coefficient(x,y)
print(r)

# 6.3.3
# determine the relation based on the result of the function i made
if r < 0.3:
  print("None or very weak")
elif 0.3 < r <0.5 :
  print("Weak")
elif 0.5 < r < 0.7 :
  print("Weak")
else:
  print("Strong")

0.131003337780958
None or very weak

# Q7

Using boolean indexing, select the following

**ONE LINE OF CODE** ðŸ›‘

7.1- Select ratio of houses where median_income value is above of the median_income average value


7.2- Select the median_house_value for oldest house housing_median_age


7.3- Calculate Apply correlation coefficient function on total_rooms and total_bedrooms and detemine the relationship


7.4- Select Data-Frame where total_rooms greater or equal 1500


7.5- Select Data-Frame where total_rooms greater or equal 1500 and total_bedrooms greater or equal 500


7.6- Select Data-Frame with total_rooms, population, and  median_house_value columns where the median_house_value is greater than IQR value for median_house_value

In [93]:
# Q7  Solutions

In [97]:
# 7.1
output_1 = (df[df["median_income"] > df["median_income"].mean()]).shape[0]/df["median_income"].shape[0]
print(output_1)

0.4168578318922416

In [104]:
# 7.2
output_2 = df[df["housing_median_age"] == df["housing_median_age"].max()]["median_house_value"]
print(output_2)

325      128600.0
1011     270800.0
1074     300000.0
1075     331400.0
1103      83300.0
           ...
16971     62500.0
16992     50800.0
16993    106700.0
16995    111400.0
16999     94600.0
Name: median_house_value, Length: 1052, dtype: float64

In [111]:
# 7.3
r = correlation_coefficient(list(df["total_rooms"]), list(df["total_bedrooms"]))
print(r, "\n", "None or very weak" if r < 0.3 else "Weak" if r < 0.7 else "Strong")

0.9284038089227292
 Strong

In [112]:
# 7.4
output_4 = df[df["total_rooms"] >= 1500]
print(output_4)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0      5612.00         1283.00
1        -114.47     34.40                19.0      7650.00         1901.00
3        -114.57     33.64                14.0      1501.00          337.00
6        -114.58     33.61                25.0      2907.00          680.00
8        -114.59     33.61                34.0      4789.00         1175.00
...          ...       ...                 ...          ...             ...
16996    -124.27     40.69                36.0      2349.00          528.00
16997    -124.30     41.84                17.0      2677.00          531.00
16998    -124.30     41.80                19.0      2672.00          552.00
16999    -124.35     40.54                52.0      1820.00          300.00
IQR         3.79      3.79                19.0      1689.25          351.25

       population  households  median_income  median_house_value
0          1015.0      472.00       1.493600             66900.0
1          1129.0      463.00       1.820000             80100.0
3           515.0      226.00       3.191700             73400.0
6          1841.0      633.00       2.676800             82400.0
8          3134.0     1056.00       2.178200             58400.0
...           ...         ...            ...                 ...
16996      1194.0      465.00       2.517900             79000.0
16997      1244.0      456.00       3.031300            103600.0
16998      1298.0      478.00       1.979700             85800.0
16999       806.0      270.00       3.014700             94600.0
IQR         931.0      323.25       2.200625            145600.0

[12485 rows x 9 columns]

In [119]:
# 7.5
output_5 = df[(df["total_rooms"] >= 1500) & (df["total_bedrooms"] >= 500)]
print(output_5)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
6        -114.58     33.61                25.0       2907.0           680.0
8        -114.59     33.61                34.0       4789.0          1175.0
10       -114.60     33.62                16.0       3741.0           801.0
...          ...       ...                 ...          ...             ...
16990    -124.22     41.73                28.0       3003.0           699.0
16991    -124.23     41.75                11.0       3159.0           616.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
6          1841.0       633.0         2.6768             82400.0
8          3134.0      1056.0         2.1782             58400.0
10         2434.0       824.0         2.6797             86500.0
...           ...         ...            ...                 ...
16990      1530.0       653.0         1.7038             78300.0
16991      1343.0       479.0         2.4805             73200.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0

[6827 rows x 9 columns]

In [164]:
# 7.6
output_6 = df.loc[df["median_house_value"] > transpose_desc.loc["IQR" , "median_house_value"]
                              ,["total_rooms","population" , "median_house_value"]]
print(output_6)

       total_rooms  population  median_house_value
32          1136.0       481.0            146300.0
100         2183.0      1000.0            159900.0
146           89.0        79.0            155000.0
172         7437.0       574.0            382400.0
175        12991.0      4571.0            199300.0
...            ...         ...                 ...
16888       1804.0       895.0            150000.0
16890       1880.0       743.0            152700.0
16899       1452.0       516.0            165600.0
16906        334.0       780.0            153100.0
16912       1287.0       805.0            150000.0

[11049 rows x 3 columns]

#  No pain ... No gain

**Good luck** â™¥